<!--
  Generated template for the FirstPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hello page first</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4>{{email}}</h4>
  <button ion-button color="primary" (click)="popThis()">Go Back</button>
</ion-content>
