<ion-header>
  <ion-navbar>
    <ion-title>Mobilityone Social Network</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="topButtons">
    <button  ion-button color="primary" (click)="register()">Register
    </button>
    <button  ion-button color="primary" (click)="signIn()">Sign In
    </button>
  </div>
  <div>
    <button ion-button color="primary" (click)="fb()">Sign in with Facebook</button>
  </div>

</ion-content>
