<ion-header>
  <ion-navbar>
    <ion-title>Facebook Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="isLoggedIn; else facebookLogin">
    <!-- <h2>Hi, {{users.name}} ({{users.email}})</h2>
    <p>
      Gender: {{users.gender}}
    </p>
    <p>
      <img src="{{users.picture.data.url}}" width="100" alt="{{users.name}}" />
    </p>
    <p>
      <button ion-button icon-right (click)="logout()">
        Logout
      </button>
    </p> -->
    <h2>Create Account</h2>
    <ion-list>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="users.email" #username></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" #password></ion-input>
      </ion-item>
    
    </ion-list>
    
    <div padding>
      <button block ion-button color="primary" (click)="registeruser()">Register</button>
    </div>
  </div>
  <ng-template #facebookLogin>
    <button ion-button icon-right (click)="login()">
      Login with
      <ion-icon name="logo-facebook"></ion-icon>
    </button>
  </ng-template>
</ion-content>
